:root {
    --header-height: 50px;
    color: white;
    --font-body: 'Inter';
    --font-heading: 'Raleway';
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0px;
    font-family: var(--font-body);
}

body {
    background-color: rgb(31, 31, 31);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    margin-bottom: 1em;
    line-height: 1;
}

button,
a.button {
    cursor: pointer;
    appearance: none;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 1rem;
    text-decoration: none;
}

dialog > h1 {
    text-align: center;
}
