:root {
    --header-height: 50px;
    --font-body: 'Inter', sans-serif;
    --font-heading: 'Raleway', sans-serif;
    --transition-duration: 250ms;
    --color-background: rgb(31, 31, 31);
    font-size: 120%;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0px;
    font-family: var(--font-body) !important;
}

body {
    background-color: var(--color-background);
    font-family: var(--font-body);
    line-height: unset;
    color: white;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    margin-bottom: 1em;
    line-height: 1;
}

button,
a {
    transition: all var(--transition-duration) ease;
    outline-width: 0;
    outline-offset: 2px;
}

button,
a.button {
    cursor: pointer;
    appearance: none;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
}

:where(button, a.button):disabled {
    color: rgb(150, 150, 150);
    border-color: rgb(150, 150, 150);
}

:where(button, a):focus-visible {
    outline: 3px solid white;
}

dialog > h1 {
    text-align: center;
}

form {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    margin-block: 25px;
    align-items: flex-start;
}

form > .button-row {
    margin-block: 10px;
}

input {
    appearance: none;
    border-radius: 5px;
    font-size: 1rem;
    border: 1px solid white;
    padding: 0.25em 0.5em;
    color: white;
    background-color: rgb(45, 45, 45);
}

input::placeholder {
    color: rgb(196, 196, 196);
}

input:focus {
    outline: 1px solid red;
}

p {
    line-height: unset;
}
